* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #692a53;
  color: #212121;
  line-height: 1.5;
  padding: 15px;
}

.container-input {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

#search-box {
  font-size: 22px;
  padding: 8px;
  height: 45px;
  border-radius: 8px;
  width: 420px;
}

.container {
  display:flex;
  justify-content: center;
  height: auto;

}

ul {
  padding-left: 0px;
}

li {
  display: flex;
  font-size: 25px;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin-bottom: 15px;
  gap: 10px;
  color: white;
  background-color: #914b79;
  height: 80px;
  width: auto;
  padding: 20px;
  outline: 1px solid darkslategray;
    box-shadow: 5px 5px 15px 5px darkgrey;
    border-radius: 10px;
}

.country-list {
  display:block;
}

.name-country {
  font-size: 50px;
}

.card {
  height: auto;
  width: auto;
  padding: 20px;
  outline: 1px solid darkslategray;
  box-shadow: 5px 5px 15px 5px darkgrey;
  border-radius: 10px;
  background-color: #914b79;
}

.card-country {
  display: flex;
  gap: 15px;
  align-items: center;
}

p{
  font-size: 20px;
color: white;
}

b {
  color: #212121;
}